<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL7kUrXhdPV-diHOwSI8Xs2aBlA6wYT6w</string>
	<key>GCM_SENDER_ID</key>
	<string>240788914813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.y</string>
	<key>PROJECT_ID</key>
	<string>rntest-8986b</string>
	<key>STORAGE_BUCKET</key>
	<string>rntest-8986b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240788914813:ios:ff91fd1534ff4b75a6e714</string>
</dict>
</plist>